<div class="container containerFooter" style="margin-left: 10%;">
    <p style="float: left;" class="footer-in">ENCUÉNTRANOS EN:<br> C.C. Mega Plaza Independencia - 2do Piso<br>Teléfono:
        4681752 / WhatsApp: 980715542</p>

    <p style="float: left; padding-left: 5%; border-left-style: solid; border-left-size: 1px" class="footer-in footerResponsive">
        HORARIO DE ATENCIÓN: <br>De Lunes a domingo:<br>de 10 a.m a 10 p.m</p>

    <p style="float: left; padding-left: 5%; border-left-style: solid;" class="footer-in footerResponsive">
        <br><br>
        <i class="fab fa-facebook-f" onclick="facebook()" style="cursor:pointer;"></i> <i class="fab fa-twitter"></i> <span onclick="facebook()" style="cursor:pointer;">/Pretty Princess</span></p>
</div>

<script>
    function facebook() {
        window.open('https://www.facebook.com/PrettyPrincessSalonySpa', '_blank');
    }
</script>